/* Styles for the about me sectin */
.about-me{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    color: rgb(0, 0, 0);
    background-image: url(../assets/imgs/patternpad.png);
    background-position: center;
    background-size:contain;
}
.card{
    display: flex;
    height: 30vh;
    width: 30%;
    max-width: 30%;
    background-color: black;
    border-radius: 8px;
    backdrop-filter: blur(18px) saturate(172%);
    -webkit-backdrop-filter: blur(18px) saturate(172%);
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    border: 1px solid rgba( 209, 213, 219,0.3);
}
.container{
    margin-top: 8px;
    margin-left: 8px;
}
.container > h2{
    margin-bottom: 12px;
}
.container > p{
    margin: 12px;
    max-width: 70%;
    font-size: 1rem;
    font-family: clash-grotesk-regular;
}
.icons-container{
    display: flex;
    align-items: flex-start;
    height: 100%;
    width: 100%;
}
.languages-icons{
    width: 20%;
    max-width: 30%;
}