
.main-content{
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
main{
    background-color: black;
     background-color: #00ffb3;
    background-image: 
        radial-gradient(at 47% 33%, hwb(145 0% 0% / 0.925) 0, transparent 59%), 
        radial-gradient(at 82% 65%, #0453ff 0, transparent 55%);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.name-highlight{
    background-color: rgb(0, 102, 255);
    font-family: var(--headers-font);
}
.right-side{
    align-self: center;
    margin-top: 0;
    justify-self: flex-end;
}
.Profile-img{
    border-radius: 50%;
    width: 100%;
}
.common-p{
    font-weight: 100;
    color: white;
    font-size: 2rem;
    margin-bottom: 5%;
}
.hi{
    font-size: 3rem;
    margin: 0;
}
.common{
    font-size: 1.5em;
    margin-bottom: 15px;
}
.follow-me{
    margin-top: 1.5em;
    font-size: 0.7em;
}
a{
    text-decoration: none;
}
.icons{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.fa-brands{
    font-size: 2rem;
    color: white;
}