
/* media queries */
@media only screen and (max-width: 688px) {
    .Profile-img{
        align-self: center;
        justify-self: center;
    }
    .main-content{
        height: 80vh;
    }
    .right-side{
        width: 50%;
        margin-top: 20px;
    }
    .main-content{
        flex-direction: column-reverse;
        justify-content: center;
    }
    .shape{
        display: none;
    }
    .card{
        max-width: 50%;
        width: 100vw;
        height: auto;
    }
    .card2{
        margin-bottom: 15%;
    }
    .card  p{
        max-width: 100%;
    }
    .common > p{
        font-weight: 100;
        color: white;
    }
    .about-me{
        height: 80vh;
        flex-direction: column-reverse;
        justify-content: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .container{
        width: 100%;
        height: 100%;
    }
    .languages-icons{
        width: 30%;
        padding-bottom: 10%;
    }
}
@media only screen and (max-width: 320px) {
    .card{
        min-width: 80%
    }
    .main{
        height: 80vh;
    }
}